.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 98vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.home_container {
  flex: 1;
  min-height: 50vh;
  overflow-y: auto;
}

.bottom_nav {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.centerText{
  text-align: center;
}

.line_text {
  display: flex;
  align-items: center;
  text-align: center;
  color: #333;
  margin:5px 0;
}

.line_text::before,
.line_text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #aaa;
  margin: 0 10px;
}



.inbox_container{
  width: 80%;
  margin: auto;
}

.search_container{

  display: flex;
  align-items: center;

}